// Breakpoints
$mobile: 435px; // Mobile
$almost-mobile: 500px; // Getting to mobile sizes
$phablet-breakpoint: 576px; // Just a bit bigger than a mobile
$tablet-breakpoint: 767px; // iPads etc
$laptop-breakpoint: 992px; // Laptop screens
$desktop-breakpoint: 1200px; // Large desktop screens
$xldesktop-breakpoint: 1366px; // Extra large desktop screens
$xxldesktop-breakpoint: 1600px; // Extra Extra large Desktop Screens
