// General rules
p,
label {
  font-family: $poppins;
  font-size: 14px;
  line-height: 1.5em;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $poppins-bold;
}

h1 {
  font-size: 28px;
}

// Page specific
#register-form {
  display: none;
}

.full-screen {
  @include set-bg-img('../img/background.jpg');
  height: 100vh;
  width: 100vw;
}

.form-wrapper {
  @include centerer;
}

.card {
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, .25);
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, .25);
  min-width: 280px;

  &-title {
    margin: 8px 0 18px;
    text-align: center;
  }

  @media only screen and (min-width: $tablet-breakpoint) {
    min-width: 320px;
  }

  @media only screen and (min-width: $laptop-breakpoint) {
    min-width: 420px;
  }
}

.logo--svg {
  display: block;
  margin: 0 auto 32px;

  @media only screen and (min-width: $laptop-breakpoint) {
    -webkit-transform: scale(1.5);
    margin: 0 auto 48px;
    transform: scale(1.5);
  }
}
